VITE_API_KEY=bltxxxxxxxxxxxxxxxx
VITE_DELIVERY_TOKEN=csbxxxxxxxxxxxxxxxxxxxxxxxx
VITE_PREVIEW_TOKEN=cscxxxxxxxxxxxxxxxxxxxxxxxx
VITE_TARGET_APP_URL=http://localhost:3000
VITE_BRANCH=main
VITE_ENVIRONMENT=development
VITE_API_HOST=api-dev.example.com
VITE_APP_HOST=https://app-dev.example.com
VITE_ORG_UID=SampleStack
VITE_STACK_NAME=SampleStack
VITE_HEADER_V2_UID=bltxxxxxxxxxxxxxxxx
VITE_FOOTER_V2_UID=bltxxxxxxxxxxxxxxxx
VITE_COLLECTIONS_UID=bltxxxxxxxxxxxxxxxx
VITE_POLICIES_LISTING_UID=bltxxxxxxxxxxxxxxxx